<?xml version="1.0" encoding="utf-8" ?>
  <configuration>
      <appSettings>
          <add key="PollCommandName" value="C:\Program Files\Microsoft HPC Pack 2008 R2\Bin\lmutil.exe" />
          <add key="PollCommandArguments" value="lmstat -c C:\license-fluent.dat -a" />
          <add key="CacheFile" value="FlexLM.xml" />
          <add key="ApplicationStartupTimeInSeconds" value="30"/>
      </appSettings>
</configuration>