<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="microsoft.Hpc.Session.ServiceRegistration"
                  type="Microsoft.Hpc.Scheduler.Session.Configuration.ServiceRegistration, Microsoft.Hpc.Scheduler.Session, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <section name="service"
               type="Microsoft.Hpc.Scheduler.Session.Configuration.ServiceConfiguration, Microsoft.Hpc.Scheduler.Session, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
               allowDefinition="Everywhere"
               allowExeDefinition="MachineToApplication"
	               />
    </sectionGroup>
  </configSections>
  <microsoft.Hpc.Session.ServiceRegistration>
    <!--Change assembly path here-->
    <service assembly="\\fileshare\SOAServices\PrimeFactorizationService.dll">
    </service>
  </microsoft.Hpc.Session.ServiceRegistration>

</configuration>