<?xml version="1.0" encoding="utf-8" ?>
  <configuration>
      <appSettings>
          <add key="PollCommandName" value="cmd.exe" />
          <add key="PollCommandArguments" value="/c type c:\lmstat-output.txt" />
          <add key="CacheFile" value="FlexLM.xml" />
	  <add key="ApplicationStartupTimeInSeconds" value="30"/>
      </appSettings>
</configuration>